@import "../base/variables";
/*----FOOTER----*/
.flex-container{
    background-color: $color-backgrouncolor-header-footer;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content:space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .pie-de-pagina{
        nav{
            ul{
                li{
                    a{
                        color:$color-fuente-principal;
                        text-align:left;
                        text-align:initial;
                        font-size: 30px;
                        font-weight: 500px;
                        padding: 10px;
                        text-decoration: none;
                        display: inline-block;
                        border: solid 3px;
                        margin-left: 20px;
                        &:hover{
                            transform: scale(1.3);
                            transition-duration: 3s;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .redes-sociales{
        a img{
            color:black;
            width: 30px;
            height: 30px;
            margin: 40px 30px 40px 30px;
            justify-content: space-around;
        }
    }
}