@import "../base/variables";
/*----MAIN MINI JARDINES----*/
.minijardines{
    text-align: center;
    width: 100%;
    height: auto;
    background-position: center;
    background-color: $color-background-principal;
    margin-bottom: 10px;
    box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
    -webkit-caja-sombra: 10px 10px 17px 0px rgba(0,0,0,0.75);
    -moz-caja-sombra: 10px 10px 17px 0px rgba(0,0,0,0.75);
    h1{
        color:$color-fuente-principal;
        font-size: 35px;
        font-family: 'Trispace', sans-serif;
        font-weight:300 ;
        font-style: $font-style-principal;
        &:hover{
            transform: scale(1.3);
            transition-duration: 3s;
        }
    }
    p{
        color:$color-fuente-principal;
        font-size: 20px;
        font-style: $font-style-secundario;
        margin-top: 20px;
        margin-right: 300px;
        margin-left: 300px;
        margin-bottom: 20px;
        &:hover{
        transform: scale(1.1);
        transition-duration: 3s;
        font-style: $font-style-principal;
        }
    }
}
.grid-container-grilla-imagenes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px 400px 400px 400px;
    gap: 15px;
    background-color: $color-background-principal;
    margin: 5px 5px 5px 5px;
    flex-wrap: wrap;
    div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .grid-items-img{
        box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
        -webkit-caja-sombra: 10px 10px 17px 0px rgba(0,0,0,0.75);
        -moz-caja-sombra: 10px 10px 17px 0px rgba(0,0,0,0.75);
        img{
            &:hover{
                transform: scale(1.1);
                transition-duration: 3s;
            }
        }
    }
}
