@import "../base/variables";
/*----MAIN CUIDADOS----*/
.comocuidarnos{
    width: 100%;
    height: auto;
    background-color: $color-background-principal;
    color: $color-fuente-principal;
    @extend %flex;
    flex-direction: column;
    padding: 5px 5px 5px 5px;
    box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
    -webkit-caja-sombra: 10px 10px 17px 0px rgba(0,0,0,0.75);
    -moz-caja-sombra: 10px 10px 17px 0px rgba(0,0,0,0.75);
    .comocuidarnos-contenedor1{
        h1{
            color:$color-fuente-principal;
            font-size: 40px;
            font-family: 'Trispace', sans-serif;
            font-weight: 500px;
            font-style: $font-style-principal;
            padding-bottom: 20px;
            margin-top: 3px;
            @extend %center;
        }
        p{
            color:$color-fuente-principal;
            font-size: 20px;
            font-style: $font-style-secundario;
            justify-content: center;
            margin: 10px;
        }
    }
    .comocuidarnos-contenedor2{
        h2{
            color:$color-fuente-principal;
            font-size: 40px;
            font-family: 'Trispace', sans-serif;
            font-weight: 500px;
            font-style: $font-style-principal;
            padding-bottom: 20px;
            margin-top: 3px;
            @extend %center;
        }
        h3{
            color:$color-fuente-principal;
            font-size: 30px;
            font-family: 'Trispace', sans-serif;
            font-weight: 500px;
            font-style: $font-style-principal;
            padding-bottom: 5px;
            margin-top: 3px;
            @extend %center;
        }
        p{
            color:$color-fuente-principal;
            font-size: 20px;
            font-style: $font-style-secundario;
            justify-content: center;
            margin: 10px;
            text-align: center;
        }
    }
    .comocuidarnos-contenedor3{
        h2{
            color:$color-fuente-principal;
            font-size: 40px;
            font-family: 'Trispace', sans-serif;
            font-weight: 500px;
            font-style: $font-style-principal;
            padding-bottom: 20px;
            margin-top: 3px;
            @extend %center;
        }
        p{
            color:$color-fuente-principal;
            font-size: 20px;
            font-style: $font-style-secundario;
            justify-content: center;
            margin: 10px;
            text-align: center;
        }
        h3{
            color:$color-fuente-principal;
            font-size: 30px;
            font-family: 'Trispace', sans-serif;
            font-weight: 500px;
            font-style: $font-style-principal;
            padding-bottom: 5px;
            margin-top: 3px;
            @extend %center;
        }
    }
    .comocuidarnos-contenedor4{
        h2{
            color:$color-fuente-principal;
            font-size: 40px;
            font-family: 'Trispace', sans-serif;
            font-weight: 500px;
            font-style: $font-style-principal;
            padding-bottom: 20px;
            margin-top: 3px;
            @extend %center;
        }
        p{
            color:$color-fuente-principal;
            font-size: 20px;
            font-style: $font-style-secundario;
            justify-content: center;
            margin: 10px;
            text-align: center;
        }
    }
}