@import "../base/variables";
/*----MAIN CONTACTO----*/
.contacto{
    text-align: center;
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: $color-background-principal;

    h1{
        color:$color-fuente-principal;
        font-size: 35px;
        font-family: 'Trispace', sans-serif;
        font-weight:300 ;
        font-style: italic ;
    &:hover{
        transform: scale(1.3);
        transition-duration: 3s;
    }
    }
    h2{
        color:$color-fuente-principal;
        font-size: 35px;
        font-family: 'Trispace', sans-serif;
        font-weight:300 ;
        font-style: italic ;
    }
    form{
        padding-top: 10px;
        color: $color-fuente-principal;
        font-size: 20px;
    }
}